<div class="media">
  <div class="media-body">
    <div class="media-section text-center">
      <div class="image-properties">
        <%= cl_image_tag @place.photo, crop: :fill %>
      </div>
      <h2> <%= @place.description %></h2>

      <!-- <img src="https://images.unsplash.com/photo-1418479631014-8cbf89db3431?dpr=1&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb" alt> -->
    </div>
    <!-- <div class="media-section">
      <h2>Description</h2>
      ...
    </div> -->

    <div class="media-aside">
     <h3>Address: </h3> <%= @place.address%>
     <hr>
     <h3>City: </h3><%= @place.city%>
       <hr>
     <h3>Kind: </h3><%= @place.kind%>
       <hr>
   </div>

 </div>
 <div class="media-aside">
  <div class="media-section text-center">

    <h2><%= @place.name.capitalize %></h2>

    <p>
      <%= @place.day_price %>  <span class="glyphicon glyphicon-eur" aria-hidden="true"></span> per day
    </p>


    <% if @place.user.facebook_picture_url %>
    <%= image_tag @place.user.facebook_picture_url, class: "avatar-large" %>


    <% else %>
    <%= image_tag 'placeholder.png', class: "avatar-large",  data: { toggle: 'dropdown'}  %>

    <% end %>


    <div class="name-attributes">
      <%= @place.user.first_name %>
      <%= @place.user.last_name %>
    </div>

  </div>

  <div>

  </div>
</div>
</div>
