
<h2><%= @place.name.capitalize %></h2>
 <p>
      What ? <%= @place.kind %>
      </p>
      <p> Where:
      <%= @place.city %>
      </p>

      <p> About:
      <%= @place.description %>
      </p>
      <p> The day price:
      <%= @place.day_price %>
      </p>
       <p>
       The night price:
      <%= @place.night_price %>
      </p>
