<div class="item-interface">
  <h2><%= @place.name.capitalize %></h2>


  <div class="product">
    <div class='product-upvote'>
    </div>
   <%= cl_image_tag @place.photo, height: 300, width: 400, crop: :fill %>
    <div class='product-body'>
     <h3><%= @place.kind %></h3>
     <h3><%= @place.city %></h3>
     <p> <%= @place.description %></p>
     <p> The day price: <%= @place.day_price %></p>
     <p> The night price:<%= @place.night_price %></p>
   </div>
</div>
