<div class="wrapper-grey padded">
  <h2 class="text-center">Your next trip</h2>

  <div class="container">
    <div class="row">
    <% if @places.empty? %>
    <h3>GAME OVER</h3>
    <%= link_to 'Try again', root_path %>
    <% else %>
    <% @places.each do |place| %>
      <div class="col-xs-12 col-sm-4">

          <%= link_to place_path(place), class: "card-link" do %>
        <div class="card" id="paris" style="background-image:url('<%= place.photo.present? ? place.photo : image_path('sky.jpeg') %>')" >
          <div class="card-category">
            <%= place.city %> 
          </div>
          <div class="card-description">
            <h2><%= place.name %></h2>
            <p><%= place.kind%> / <%= place.day_price%></p>
          </div>
          <div class="card-user avatar avatar-small">
              <% if place.user.facebook_picture_url %>
                <%= image_tag place.user.facebook_picture_url, class: "avatar" %>
              <% else %>
                <%= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
              <% end %>
          </div>
          <!-- <a class="card-link" href="#"></a> -->
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 500px"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>

$(document).on('ready', function() {
var handler = Gmaps.build('Google');
handler.buildMap({provider: { scrollwheel: false, zoomControl: false }, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

